<div class="create-route" fileDragDrop (fileDragDropFileAccepted)="fileAccepted($event)"
     (fileDragDropFileRejected)="fileRejected($event)"
     (fileDragDropDragOver)="fileDetected($event)" (fileDragDropDragLeave)="fileLeft($event)"
     [maxFileSize]="maxFileSize" [supportedFileTypes]="supportedFileTypes">
    <div class="file-types-list">
        <div class="file-types-list-item">
            <input type="radio" id="useCert" name="file-type" [checked]="true"
                   (change)="useCertificates(true)">
            <label class="radio-label" for="useCert"><h3>证书</h3></label>
            <div class="description"><p>此处需要证书和私钥文件。</p></div>
        </div>
        <div class="file-types-list-item">
            <input type="radio" id="noCert" name="file-type"
                   (change)="useCertificates(false)">
            <label class="radio-label" for="noCert"><h3>ID和密钥</h3></label>
            <div class="description"><p>创建ID和密钥以用于连接业务网络。</p></div>
        </div>
    </div>
</div>
<form #credentialsForm="ngForm" id="credentials-form">
    <div *ngIf="useCerts" class="noCerts">
        <table class="no-shadow">
            <colgroup>
                <col span="1" style="width: 20%;">
                <col span="1" style="width: 80%;">
            </colgroup>
            <tr>
                <th>
                    <label for="publicKey"><h3>证书</h3></label>
                    <file-importer (fileAccepted)="fileAccepted($event)"
                                   (fileRejected)="fileRejected($event)" [expandInput]="expandInput"
                                   [maxFileSize]="maxFileSize" [supportedFileTypes]="supportedFileTypes"
                                   [ngClass]="{'expandFile': expandInput}"
                                   [svgName]="'#icon-CTO_JS_Upload'"></file-importer>
                </th>
                <td>
            <textarea required name="addedPublicCertificate" id="publicKey" rows="6"
                      placeholder="将证书粘贴到此处..."
                      [(ngModel)]="addedPublicCertificate"></textarea>
                </td>
            </tr>
            <tr>

                <th>
                    <label for="privateKey"><h3>私钥</h3></label>
                    <file-importer (fileAccepted)="fileAccepted($event)"
                                   (fileRejected)="fileRejected($event)" [expandInput]="expandInput"
                                   [maxFileSize]="maxFileSize" [supportedFileTypes]="supportedFileTypes"
                                   [ngClass]="{'expandFile': expandInput}"
                                   [svgName]="'#icon-CTO_JS_Upload'"></file-importer>
                </th>
                <td>
                <textarea required name="addedPrivateCertificate" id="privateKey" rows="6"
                          placeholder="将私钥粘贴到此处..."
                          [(ngModel)]="addedPrivateCertificate"></textarea>
                </td>
            </tr>
            <tr>
                <th>
                    <label for="name"><h3>用户账号</h3></label>
                </th>
                <td>
                    <input required type="text" [(ngModel)]="userId" id="name" name="userId" autocomplete="off">
                </td>
            </tr>
        </table>
    </div>
    <div *ngIf="!useCerts" class="noCerts">
        <p>注册ID和密钥必须由已连接上业务网络的人员进行创建。</p>
        <table class="no-shadow">
            <colgroup>
                <col span="1" style="width: 20%;">
                <col span="1" style="width: 80%;">
            </colgroup>
            <tr>
                <th>
                    <label for="userId"><h3>注册ID</h3></label>
                </th>
                <td>
                    <input required type="text" [(ngModel)]="userId" id="userId" name="userId" autocomplete="off">
                </td>
            </tr>
            <tr>
                <th>
                    <label for="userSecret"><h3>注册密钥</h3></label>
                </th>
                <td>
                    <input required type="password" [(ngModel)]="userSecret" id="userSecret" name="userSecret"
                           autocomplete="off">
                </td>
            </tr>
        </table>
    </div>
</form>



