<div class="import">
    <section class="edit-card-credentials">
        <h1>创建业务网络卡片</h1>
        <section class="profiles section">
            <div class="description upper"><b>设置安全证书</b></div>
            <div>
                <p>请使用证书或ID密钥创建业务网络卡片</p>
                <credentials (credentials)="updateCredentials($event)"></credentials>
            </div>
        </section>
        <section class="profiles">
            <div class="description upper"><b>卡片类型</b></div>
            <div class="holding-div">
                <div class="create-route">
                    <p>您要创建哪种类型的卡片?</p>
                    <div class="file-types-list">
                        <div class="file-types-list-item">
                            <input type="radio" id="participantCard" name="participant-type" [checked]="true"
                                   (change)="useParticipantCardType(true)">
                            <label class="radio-label" for="participantCard"><h3>参与者卡片</h3></label>
                            <div class="description"><p>此类卡片可用于连接业务网络 。</p></div>
                        </div>
                        <div class="file-types-list-item">
                            <input type="radio" id="adminCard" name="participant-type"
                                   (change)="useParticipantCardType(false)">
                            <label class="radio-label" for="adminCard"><h3>管理员卡片</h3></label>
                            <div class="description"><p>此类卡片可用于安装和启动业务网络。</p></div>
                        </div>
                    </div>
                </div>

                <div *ngIf="useParticipantCard" class="noCerts">
                    <p>您要连接的业务网络名称</p>
                    <form #busNetForm="ngForm" (submit)="submitCard()" (keydown)="submitCard($event)">
                        <table class="no-shadow">
                            <colgroup>
                                <col span="1" style="width: 20%;">
                                <col span="1" style="width: 80%;">
                            </colgroup>
                            <tr>
                                <th>
                                    <label for="busNetName"><h3>业务网络名称</h3></label>
                                </th>
                                <td>
                                    <input type="text" [(ngModel)]="busNetName" id="busNetName" name="busNetName"
                                           autocomplete="off">
                                </td>
                            </tr>
                        </table>
                        <p>设置待创建业务网络的名称</p>
                        <table class="no-shadow">
                            <colgroup>
                                <col span="1" style="width: 20%;">
                                <col span="1" style="width: 80%;">
                            </colgroup>
                            <tr>
                                <th>
                                    <label for="cardName"><h3>卡片名称</h3></label>
                                </th>
                                <td>
                                    <input type="text" [ngModel]="cardName" id="cardName" name="cardName"
                                           (ngModelChange)="setCardName($event)"
                                           autocomplete="off">
                                    <div *ngIf="!cardNameValid" class="error-message">卡片名称必须唯一</div>
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
                <div *ngIf="!useParticipantCard" class="roles">
                    <p>分配身份角色以用于安装和启动业务网络</p>
                    <div class="role-list">
                        <div class="option">
                            <input type="checkbox" [(ngModel)]="peerAdmin" id="peerAdmin" name="peerAdmin"
                                   autocomplete="off">
                            <label for="peerAdmin" class="checkbox-label"><h3>节点管理员</h3></label>
                            <div class="description"><p>该角色具有安装业务网络的权限</p>
                            </div>
                        </div>
                        <div class="option">
                            <input type="checkbox" [(ngModel)]="channelAdmin" id="channelAdmin" name="channelAdmin"
                                   autocomplete="off">
                            <label for="channelAdmin" class="checkbox-label"><h3>通道管理员</h3></label>
                            <div class="description"><p>该角色具有启动业务网络的权限</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer>
            <button type="button" class="secondary" (click)="close();">
                <span>取消</span>
            </button>
            <button type="button" class="primary" [disabled]="!validContents() ||  addInProgress"
                    (click)="addIdentityCard();">
                <div *ngIf="!addInProgress">
                    <span>创建</span>
                </div>
                <div *ngIf="addInProgress" class="ibm-spinner-indeterminate small loop">
                    <div class="loader">
                        <svg class="circular" viewBox="25 25 50 50">
                            <circle class="circle-path" cx="50" cy="50" r="20"/>
                        </svg>
                    </div>
                </div>
            </button>
        </footer>
    </section>
</div>

